@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@*<!DOCTYPE html>
<html>
<body>

    <h1>Mountain Porject Local Database Portal</h1>

    <p> Provide any key words of a route name, or specify the grading and area </p>

    <form action="ShowRouteInfoFromSql" id="routeFinder" method="post">
        <label for="routeName">Route Name:</label>
        <input type="text" id="routeName" name="keywords">
        <input type="submit">
    </form>
    <br>

    <label for="area"> Area :  </label>
    <select id="area" name="area" form="routeFinder">
        <option value="NA">N/A</option>
        <option value="washington">washington</option>
        <option value="MI">MI</option>
    </select>

    <br>
    <br>
    <label for="grade">Grade:</label>
    <select id="gradeLow" name="gradeLow" form="routeFinder">
        <option value="NA">N/A</option>
        <option value="vB">vB</option>
        <option value="v0">v0</option>
        <option value="v1">v1</option>
        <option value="v2">v2</option>
        <option value="v3">v3</option>
        <option value="v4">v4</option>
        <option value="v5">v5</option>
        <option value="v6">v6</option>
        <option value="v7">v7</option>
        <option value="v8">v8</option>
        <option value="v9">v9</option>
        <option value="v10">v10</option>
        <option value="v11">v11</option>
        <option value="v12">v12</option>
        <option value="v13">v13</option>
        <option value="v14">v14</option>
        <option value="v15">v15</option>
        <option value="v16">v16</option>
        <option value="v17">v17</option>
    </select>

    <select id="gradeHigh" name="gradeHigh" form="routeFinder">
        <option value="NA">N/A</option>
        <option value="vB">vB</option>
        <option value="v0">v0</option>
        <option value="v1">v1</option>
        <option value="v2">v2</option>
        <option value="v3">v3</option>
        <option value="v4">v4</option>
        <option value="v5">v5</option>
        <option value="v6">v6</option>
        <option value="v7">v7</option>
        <option value="v8">v8</option>
        <option value="v9">v9</option>
        <option value="v10">v10</option>
        <option value="v11">v11</option>
        <option value="v12">v12</option>
        <option value="v13">v13</option>
        <option value="v14">v14</option>
        <option value="v15">v15</option>
        <option value="v16">v16</option>
        <option value="v17">v17</option>
    </select>

</body>
</html>*@